.forgot-password-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
}

.forgot-card {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
  background: white;
  transition: transform 0.3s ease;
}


.reset-btn {
  font-weight: 500;
  transition: 0.3s ease;
}

.reset-btn:hover {
  background-color: #14532d;
}
