/* You can add global styles to this file, and also import other style files */
body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

/* Optional - Card, Button, Navbar styling if needed */
.card {
  background-color: inherit;
  color: inherit;
}

.navbar {
  background-color: inherit;
}
